<!DOCTYPE html>
<html>
<head>
    <title>Maternal Health Prediction</title>
</head>
<body>

    <h2>Maternal Health Prediction (SDG 3.1)</h2>

    <form method="post">
        {% csrf_token %}

        <label>Year:</label><br>
        <input type="text" name="year"><br><br>

        <label>Antenatal Care (%):</label><br>
        <input type="text" name="antenatal"><br><br>

        <label>Skilled Birth Attendance (%):</label><br>
        <input type="text" name="skilled"><br><br>

        <label>Adolescent Birth Rate:</label><br>
        <input type="text" name="adolescent"><br><br>

        <label>Healthcare Expenditure:</label><br>
        <input type="text" name="expenditure"><br><br>

        <button type="submit">Predict</button>
    </form>

    <h3>Result:</h3>
    <p>{{ result }}</p>

</body>
</html>